@import 'DUPLICATE_NGX_assets/css/global/_variables';
@import 'DUPLICATE_NGX_assets/css/global/_mixins';

.feedCard {
  padding-bottom: 24px;
  margin-bottom: 8px;
  background: white;

  &__profile {
    display: block;
    padding-top: 16px;
  }
}

.feedPD__item {
  flex: 0 0 200px;
}

.feedProduct {
  &__title {
    margin: 8px 0 4px 24px;
    color: $black;
    font-weight: 600;
  }

  &__slider {
    display: flex;
    flex-flow: nowrap row;
    align-items: stretch;
    overflow-x: auto;
    padding: 8px 0 0 16px;
    background: white;
  }
}

.feedMore {
  position: relative;
  flex: 0 0 160px;
  border-radius: 8px;
  background: white;
  border: 1px solid $grey-darken;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      margin: 0 auto 16px;
      border-radius: 50%;
      background: $grey;
      color: $black-lighten;
      font-weight: 600;
    }

    &__cta {
      width: 100%;
      text-align: center;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -16px;
    width: 16px;
    height: 100%;
  }
}

