// DEPTH used for z-index normalization
$tooltip-depth: 100;
$floatingItems-depth: 200; // back to Top, privacyPolicy banner ...
$navigation-depth: 400; // main nav, sticky top and bottom
$sideNav-depth: 600; // side nav
$modal-depth: 800;
